@charset "utf-8";


/**
 * Eric Meyer's Reset CSS v2.0 (http://meyerweb.com/eric/tools/css/reset/)
 * http://cssreset.com
 */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, sub, sup, tt, var,
 u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video{
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    font-weight: normal;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section{
    display: block;
}
ol, ul, li{
    list-style: none;
}
blockquote, q{
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after{
    content: '';
    content: none;
}
table{
    border-collapse: collapse;
    border-spacing: 0;
}

/*footer始终在页面最底部*/
html,body{
    height: 100%;
}
.wrapper{
    min-height: 100%;
    padding-bottom:170px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    position: relative;
}
.header{
    top:-60px;
}
.footer{
    position: absolute;
    bottom:0;
    left:0;
    width:100%;
}
/* custom */
a{
    color: #595757;
    text-decoration: none;
    -webkit-backface-visibility: hidden;
}
::-webkit-scrollbar{
    width: 5px;
    height: 5px;
}
::-webkit-scrollbar-track-piece{
    background-color: rgba(0, 0, 0, 0.2);
    -webkit-border-radius: 6px;
}
::-webkit-scrollbar-thumb:vertical{
    height: 5px;
    background-color: rgba(125, 125, 125, 0.7);
    -webkit-border-radius: 6px;
}
::-webkit-scrollbar-thumb:horizontal{
    width: 5px;
    background-color: rgba(125, 125, 125, 0.7);
    -webkit-border-radius: 6px;
}
html, body{
    width: 100%;
    font-family: "Arial", "Microsoft YaHei", "黑体", "宋体", "微软雅黑", sans-serif;
}
body{
    line-height: 1;
    -webkit-text-size-adjust: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
html{
    overflow-y: scroll;
}
.none{
    display: none;
}
a:hover{
    text-decoration: none;
    color:#5181f1;
}
.theme{
    color:#5181f1;
}
.red{
    color:#f00;
}
a {
    -webkit-transition: all 0.2s linear;
    -moz-transition: all 0.2s linear;
    -ms-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    transition: all 0.2s linear;
}
html {
    min-width: auto;
    font-size: 20px;
}
body {
    background-color: #fff;
    font-family: Microsoft YaHei;
    font-size: 14px;
    line-height: 1.5;
}

@font-face {
    font-family: 'iconfont';  /* project id 1174705 */
    src: url('//at.alicdn.com/t/font_1174705_003ycjhwrqhcg.eot');
    src: url('//at.alicdn.com/t/font_1174705_003ycjhwrqhcg.eot?#iefix') format('embedded-opentype'),
    url('//at.alicdn.com/t/font_1174705_003ycjhwrqhcg.woff2') format('woff2'),
    url('//at.alicdn.com/t/font_1174705_003ycjhwrqhcg.woff') format('woff'),
    url('//at.alicdn.com/t/font_1174705_003ycjhwrqhcg.ttf') format('truetype'),
    url('//at.alicdn.com/t/font_1174705_003ycjhwrqhcg.svg#iconfont') format('svg');
}

.iconfont {
    font-family: "iconfont" !important;
    font-size: 16px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0.2px;
    -moz-osx-font-smoothing: grayscale;
}
.clearfix:before,
.clearfix:after {
    clear: both;
    content: '';
    display: table;
}
.relative {
    position: relative;
}
.hidden {
    overflow: hidden;
}
.left {
    float: left;
}
.right {
    float: right;
}
.pl-0 {
    padding-left: 0;
}
.pr-0 {
    padding-right: 0;
}
.t-l {
    text-align: left;
}
.t-c{
    text-align: center;
}
.t-r {
    text-align: right;
}
.fy-btn{
    padding:10px 20px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    border:0;
    cursor: pointer;
    outline: none;
    &:hover{
        color:#fff;
        opacity: 0.7;
    }
}
.fy-btn-danger{
    background-color: #ff2c38;
    color:#fff;
}
.fy-btn-success{
    background-color: #3ae970;
    color:#fff;
}
.fy-btn-primary{
    background-color: #3793ff;
    color:#fff;
}
.fy-btn+.fy-btn{
    margin-left:5px;
}
.transition{
    -webkit-transition: all 0.3s ease-in;
    -moz-transition: all 0.3s ease-in;
    -ms-transition: all 0.3s ease-in;
    -o-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
}
.overflow-text2 {
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
}
.overflow-text {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

@-webkit-keyframes fadeInDown {
    from {
        opacity: 0;
        -webkit-transform: translate3d(0, -100%, 0);
        transform: translate3d(0, -100%, 0);
    }

    to {
        opacity: 1;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}

@keyframes fadeInDown {
    from {
        opacity: 0;
        -webkit-transform: translate3d(0, -100%, 0);
        transform: translate3d(0, -100%, 0);
    }

    to {
        opacity: 1;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}

.fadeInDown {
    -webkit-animation-name: fadeInDown;
    animation-name: fadeInDown;
}
@-webkit-keyframes slideInUp {
     from {
         opacity: 0;
         -webkit-transform: translate3d(0, 100px, 0);
         transform: translate3d(0, 100px, 0);
         visibility: visible;
     }

     to {
         opacity: 1;
         -webkit-transform: translate3d(0, 0, 0);
         transform: translate3d(0, 0, 0);
     }
 }

@keyframes slideInUp {
    from {
        opacity: 0;
        -webkit-transform: translate3d(0, 100px, 0);
        transform: translate3d(0, 100px, 0);
        visibility: visible;
    }

    to {
        opacity: 1;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}

.slideInUp {
    -webkit-animation-name: slideInUp;
    animation-name: slideInUp;
}
@-webkit-keyframes slideInUpLeft {
    from {
        opacity: 0;
        -webkit-transform: translate3d(100px, 100px, 0);
        transform: translate3d(100px, 100px, 0);
        visibility: visible;
    }

    to {
        opacity: 1;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}

@keyframes slideInUpLeft {
    from {
        opacity: 0;
        -webkit-transform: translate3d(100px, 100px, 0);
        transform: translate3d(100px, 100px, 0);
        visibility: visible;
    }

    to {
        opacity: 1;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}

.slideInUpLeft {
    -webkit-animation-name: slideInUpLeft;
    animation-name: slideInUpLeft;
}
.animated.delay-1s {
    -webkit-animation-delay: 0.2s;
    animation-delay: 0.2s;
}

.animated.delay-2s {
    -webkit-animation-delay: 0.4s;
    animation-delay: 0.4s;
}
.animated.delay-3s {
    -webkit-animation-delay: 0.6s;
    animation-delay: 0.6s;
}
.animated.delay-4s {
    -webkit-animation-delay: 0.8s;
    animation-delay: 0.8s;
}
.animated.delay-5s {
    -webkit-animation-delay: 1s;
    animation-delay: 1s;
}
.animated {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    opacity: 0;
}
.duration0_5{
    -webkit-animation-duration: 0.5s;
    animation-duration: 0.5s;
}

//头部通用布局
body{
    padding-top:60px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    font-size: 16px;
}
.fy-container{
    width:1300px;
    margin:0 auto;
}
.canvas-cls{
    position: absolute;
    left:0;
    top:0;
}
header{
    height: 66px;
    position: absolute;
    left:0;
    top:0;
    z-index: 999;
    width: 100%;
    background-color: #000;
    .logo{
        height: 100%;
        img{
            height: 60px;
            margin-top:4px;
        }
    }
    .nav-ul{
        li{
            float: left;
            padding:21px 14px;
            position: relative;
            a {
                color: #fff;
                font-size: 16px;
                &:hover {
                    opacity: 0.7;
                }
                &.active {
                    color: #5181f1;
                    font-weight: bold;
                }
            }
            &:last-child{
                width:100px;
            }
            .login-register-box{
                -webkit-border-radius: 2px;
                -moz-border-radius: 2px;
                border-radius: 2px;
                border:1px solid #97b9ef;
                padding:5px 10px;
                margin:0;
                color:#97b9ef;
                position: absolute;
                top:15px;
                a{
                    font-size: 14px;
                    color:#97b9ef;
                }
            }
        }
        .telephone-box{
            height:0;
            overflow: hidden;
        }
        .layui-nav-img {
            width: 30px;
            height: 30px;
            margin-right: 10px;
            border-radius: 50%;
            margin-top:-4px;
            vertical-align: middle;
        }
        .user-icon:before{
            font-family: 'iconfont';
            content: '\e66f';
            color:#fff;
        }
        .user-box:hover{
            .user-icon:before{
                opacity: 0.8;
            }
        }
        .fy-nav-child {
            display: none;
            position: absolute;
            right: 0;
            top: 90px;
            min-width: 80%;
            line-height: 36px;
            padding: 5px 0;
            box-shadow: 0 2px 4px rgba(0,0,0,.12);
            border: 1px solid #d2d2d2;
            background-color: #fff;
            z-index: -1;
            border-radius: 2px;
            white-space: nowrap;
            opacity: 0;
            transition-duration: 0.2s;
            -o-transition-duration:0.2s;
            -webkit-transition-duration:0.2s;
            -moz-transition-duration:0.2s;
            dd a{
                padding:0 25px;
                color:#595757!important;
                font-size: 14px!important;
            }
            dd{
                &:last-child a{
                    color:#ff2c38!important;
                }
            }
            &:before{
                content: '';
                position: absolute;
                top:-20px;
                left:50%;
                margin-left:-5px;
                border-width:10px;
                border-color:transparent transparent #fff transparent;
                border-style: solid;
            }
            &.active{
                opacity: 1;
                top:65px;
                z-index: 99;
            }
        }
        .nav-telephone-number{
            border-left:1px solid #fff;
        }
        .telephone-icon {
            position: absolute;
            left: 28px;
            top: 2px;
            padding: 18px;
        }
        .right-icon{
            position: absolute;
            right: 0rem;
            top: 2px;
            padding: 18px;
            color:#fff;
        }
        p{
            margin-left: 66px;
            //margin-right: 27px;
            padding-left: 15px;
            //padding-right: 15px;
            //background: #000;
            padding-bottom: 10px;
        }
    }
    &.active{
        position: fixed;
        background-color: #000;
    }
}

.login-register-box{
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    border:1px solid #97b9ef;
    padding:5px 10px;
    margin: 0 !important;
    color:#97b9ef;
    position: absolute;
    z-index: 999;
    top:5px;
    right:0px;
    a{
        font-size: 14px;
        color:#97b9ef;
    }
}
/*分页样式*/
.pagination {
    display: inline-block;
    padding-left: 0;
    margin: 20px 0;
    border-radius: 4px;
}
.pagination > li {
    display: inline;
}
.pagination > li > a, .pagination > li > span {
    position: relative;
    float: left;
    padding: 6px 12px;
    margin-left: -1px;
    line-height: 1.42857143;
    color: #5181f1;
    text-decoration: none;
    background-color: #fff;
    border: 1px solid #ddd;
}
.pagination > .active > a, .pagination > .active > span, .pagination > .active > a:hover, .pagination > .active > span:hover, .pagination > .active > a:focus, .pagination > .active > span:focus {
    z-index: 3;
    color: #fff;
    cursor: default;
    background-color: #5181f1;
    border-color: #5181f1;
}

/*协议*/
.xieyi{
    padding:20px 30px 30px 30px;
    line-height: 25px;
    h2{
        margin:10px 0;
        font-size: 16px;
    }
    p{
        font-size: 14px;
        text-indent: 28px;
    }
}

//推荐
.news-recommend{
    padding:15px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    background-color: #fff;
    overflow: hidden;
    .layout-recommend-item{
        width:33.33%;
        float: left;
        padding:0 10px;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }
    .nr-img{
        max-width: 100%;
        display: none;
    }
    .nr-title{
        margin-top: 25px;
        height: 35px;
        border-bottom: 2px solid #eee;
        position: relative;
        font-weight: bold;
        font-size: 16px;
        margin-bottom:10px;
        &:after{
            content: '';
            width:70px;
            border:1px solid #5181f1;
            position: absolute;
            bottom: -2px;
            left: 0;
        }
    }
    .nr-item{
        display: block;
        padding:7px 0;
        height:70px;
        border-bottom: 1px solid #f1f1f1;
        &:last-child{
            border-bottom: 0;
        }
        .nr-item-img{
            height: 70px;
            width:100px;
            float: left;
        }
        .widget-img{
            padding:5px;
            -webkit-box-sizing: border-box;
            -moz-box-sizing: border-box;
            box-sizing: border-box;
        }
        .nr-item-content{
            margin-left:115px;
            .nric-title{
                font-size: 14px;
                font-weight: bold;
                line-height: 20px;
                height:20px;
            }
            .nric-title.overflow-text2{
                height:40px;
            }
            .nric-desc{
                font-size: 13px;
                margin-top:5px;
                line-height: 20px;
                height:40px;
            }
            .nric-info{
                font-size: 12px;
                margin-top:8px;
                .iconfont{
                    position: relative;
                    top:2px;
                    margin-left:15px;
                }
            }
        }
    }
    .news-recommend-hidden{
        width: 100%;
        height:100%;
        padding-right:30px;
        overflow-x: hidden;
        overflow-y: auto;
    }
}

//登陆模块
.login{
    position: relative;
    height: 100%;
    overflow: hidden;
}
.login-title{
    color:#000;
    margin-top:-40px;
    height:110px;
    overflow: hidden;
    img{
        width:220px;
    }
}
.login-desc{
    font-size: 14px;
    margin-top:15px;
    color:#000;
}
.login-type{
    margin-top:30px;
    .iconfont{
        font-size: 45px;
        display: inline-block;
        width:80px;
        height:80px;
        text-align: center;
        line-height:80px;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        border-radius: 50%;
        border:1px solid #aaa;
        cursor: pointer;
    }
    a{
        display: inline-block;
        width:100px;
        text-align: center;
        margin:0 15px;

    }
    a>p{
        color:#000;
        margin-top:10px;
        font-size: 14px;
        display: inline-block;
    }
    a:first-child i{
        border-color: #5181f1;
        color:#5181f1;
        &:hover{
            background-color: #5181f1;
            color:#fff;

        }
    }
    a:nth-child(2){
        i{
            border-color: #53ff34;
            color:#53ff34;
            &:hover{
                background-color: #53ff34;
                color:#fff;
            }
        }
    }
}
.login-bottom{
    padding:20px;
    font-size: 14px;
    position: absolute;
    width:100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    left:0;
    bottom:10px;
    .register-advice{
        text-decoration: underline;
    }
    .reigster-agree{
        font-size: 12px;
        margin-bottom:10px;
        .iconfont{
            font-size: 14px;
            margin-right:3px;
            cursor: pointer;
        }
    }
}
//修改layer央视
.layui-login{
    .layui-layer-title{
        background-color: #fff;
        border-bottom: 0;
    }
}
.layui-xieyi{
    .layui-layer-title {
        background-color: #eee;
    }
}

//尾部
.footer{
    padding:50px 0;
    background-color: #333;
    text-align: center;
    color:#ddd;
    margin-top:20px;
    .footer-link{
        a{
            padding:0 10px;
            color:#ddd;
            font-size: 13px;
        }
    }
    .footer-msg{
        margin-top:15px;
        color:#999;
        font-size: 12px;
    }
}
//右侧悬浮框
.website-btn{
  width:50px;
  text-align: center;
  bottom:270px;
  position: fixed;
  right:10px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  opacity: 0.7;
  z-index: 99;
  background-color: #000;
  color:#fff;
  font-size: 14px;
    font-weight: bold;
  height:50px;
    padding:7px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    line-height: 1.2;
    &:hover{
        color:#fff;
        opacity: .5;
    }
}
.floated-box{
    position: fixed;
    right:10px;
    bottom:50px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    background-color: #000;
    opacity: 0.7;
    width:50px;
    z-index: 99;
    .floated-item{
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        border-radius: 5px;
        display: block;
        width: 100%;
        height:50px;
        text-align: center;
        line-height: 50px;
        color:#ddd;
        cursor: pointer;
        position: relative;

        .iconfont{
            font-size: 24px;
        }
        &:hover{
            background-color: #000;
            .iconfont {
                opacity: .7;
            }
        }
    }
    .floated-tel-content{
        position: absolute;
        right:10px;
        top:0;
        width:120px;
        overflow: hidden;
        font-size: 12px;
        height: 100%;
        background-color: #000;
        line-height: 20px;
        padding:5px;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        opacity: 0;
    }
    .tel-icon:hover{
        .floated-tel-content {
            opacity: 1;
            right:45px;
        }
    }
    .qq-icon{
        .floated-tel-content{
            line-height: 40px;
            width:80px;
            font-size: 15px;
            color: #2fd0b5;
        }
        &:hover{
            .floated-tel-content {
                opacity: 1;
                right: 50px;
            }
        }
    }
}

@media screen and (max-width: 1366px) {
    .fy-container{
        width:1100px;
    }
}


@media screen and (max-width: 768px){
    .wrapper{
        padding-bottom:90px;
    }
    .footer{
        bottom:50px;
    }
    .fy-container{
        width: 100%;
    }
    .login-register-box{
        display: block;
    }
    //pc端底部
    .footer-link{
        display: none;
    }
    .footer{
        padding:10px 0 20px 0;
    }
    .footer-msg{
        padding:0 10px;
        font-size: 8px!important;
    }
    //登陆注册
    .layui-login{
        width:100%!important;
        height:100%!important;
        top:0!important;
        left:0!important;
    }
    //pc头部
    .header{
        display: none;
    }
    .floated-box,.website-btn{
        -webkit-transform: scale(.6);
        -moz-transform: scale(.6);
        -ms-transform: scale(.6);
        -o-transform: scale(.6);
        transform: scale(.6);
    }
    .website-btn{
        bottom:220px;
    }
    //推荐模块
    .news-recommend .layout-recommend-item{
        width:100%;
    }
    //底部导航
    .wap-list-nav{
        position: fixed;
        bottom:0;
        left:0;
        width:100%;
        height:50px;
        z-index: 99;
        border-top:1px solid #eee;
        background-color: #fff;
        display: flex;
        justify-content: center;
        align-items: center;
        a{
            width:100%;
            text-align: center;
            font-size: 12px;
            padding-bottom:5px;
            i{
                display: block;
                font-size: 18px;
                position: relative;
                top:2px;
            }
        }
        .icon-other{
            position: relative;
            z-index: 99;
            .iconfont{
                position: relative;
                font-size: 28px;
                display: block;
                margin: 0 auto;
                margin-bottom:30px;
                height:50px;
                width:50px;
                line-height: 50px;
                -webkit-border-radius: 50px;
                -moz-border-radius: 50px;
                border-radius: 50px;
                background:#f9f9f9;
                color:#333;
                &.active{
                    -webkit-transform: rotateZ(45deg);
                    -moz-transform:  rotateZ(45deg);
                    -ms-transform:  rotateZ(45deg);
                    -o-transform:  rotateZ(45deg);
                    transform:  rotateZ(45deg);
                }
            }
        }
        .active{
            color:#5181f1;
        }
    }
    //底部导航其他链接
    .other-link{
        position: fixed;
        bottom: -50px;
        left:0;
        width: 100%;
        display: flex;
        justify-content: center;
        z-index: 100;
        &.active{
            bottom:80px;
        }
        a{
            display: block;
            width:50px;
            height:50px;
            -webkit-border-radius: 50%;
            -moz-border-radius: 50%;
            border-radius: 50%;
            background-color: #f9f9f9;
            line-height: 50px;
            text-align: center;
            margin:0 5px;
            -webkit-transform: translate3d(0,80px,0);
            -moz-transform: translate3d(0,80px,0);
            -ms-transform: translate3d(0,80px,0);
            -o-transform: translate3d(0,80px,0);
            transform: translate3d(0,80px,0);
            font-size: 13px;
            opacity: 0;
            -webkit-animation-duration: 0.5s;
            animation-duration: 0.5s;
            &.active{
                -webkit-transform: translate3d(0,0px,0);
                -moz-transform: translate3d(0,0px,0);
                -ms-transform: translate3d(0,0px,0);
                -o-transform: translate3d(0,0px,0);
                transform: translate3d(0,0px,0);
                opacity: 1;
            }
        }
    }
    .animated.delay-01s {
        -webkit-animation-delay: 0.07s;
        animation-delay: 0.07s;
    }
    .animated.delay-02s {
        -webkit-animation-delay: 0.14s;
        animation-delay: 0.14s;
    }
    .animated.delay-03s {
        -webkit-animation-delay: 0.21s;
        animation-delay: 0.21s;
    }
}



