.lc-content{
  background-color: transparent!important;
}
.news-items{
  margin-right:275px;
  background-color: #fff;
  .news-hidden-scroll {
    //margin-right: -15px;
    padding: 0 20px;
  }
    .content-title {
      padding: 15px;
      font-size: 26px;
      color: #3D3D3D;
      font-weight: bold;
      border-bottom: 2px solid #ddd;
      padding-top: 30px;
      margin-bottom: 5px;
    }
    .content-info{
      text-align: center;
      color:#999;
      span {
        margin-right: 25px;
      }
    }
    .content-text {
      margin-top: 30px;
      img{
        max-width: 100%;
      }
    }
    .btn-box{
      margin-top:100px;
      border-top: 1px solid #ddd;
      padding:20px;
      .btn-prev,.btn-next{
        display: block;
        line-height: 30px;
      }
    }
    .share-box{
      padding:0 15px;
    }
}
//推荐模块
.news-recommend {
  position: absolute;
  top: 15px;
  right: 15px;
  float: right;
  width: 260px;
  .layout-recommend-item{
    width:100%;
    padding:0;
  }
  .nr-img{
    display: block;
  }
}
//项目案例详情
.case-items{
  padding:15px;
  background-color: #fff;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  .news-hidden-scroll{
    padding:0;
  }
  .case-banner{
    max-width: 100%;
    max-height: 100%;
    display: block;
    margin:0 auto;
  }
  .case-title{
    font-size: 18px;
    margin-top:30px;
    padding-left:15px;
    position: relative;
    &:before{
      content: '';
      position: absolute;
      left:0;
      top:0;
      width:6px;
      height:100%;
      -webkit-border-radius: 6px;
      -moz-border-radius: 6px;
      border-radius: 6px;
      background-color: #5181f1;
    }
  }
  .case-desc{
    margin-top:15px;
    line-height: 25px;
    font-size: 15px;
  }
  .case-dress{
    text-indent: 2rem;
    font-size: 15px;
    margin-top:15px;
    p{
      margin-top:8px;
      a{
        color:#5181f1;
      }
      .case-dress-wx{
        margin-left:5px;
      }
    }
    .case-dress-wxbox{
      margin-top:8px;
    }
  }
  .case-share{
    margin-left:2rem;
    margin-top:20px;
  }
  .case-show-img{
    display: block;
    max-width: 100%;
    margin:20px auto;
  }
}
.case-tag{
  border-right:1px solid #5181f1;
  padding:0 10px;
  &:last-child{
    border-right:0;
  }
}
//案例欣赏列表
.case-swipper{
  position: fixed;
  top:100%;
  left:0;
  width:100%;
  height:100%;
  background-color: rgba(0,0,0,.5);
  z-index: -1;
  overflow: auto;
  opacity: 0;
  padding:50px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  img{
    display: block;
    margin:50px auto!important;
    max-width: 100%;
  }
  p{
    text-align: center;
    font-size: 24px;
    line-height: 40px;
    color:#f00;
  }
  .swipper-close{
    position: fixed;
    right:15px;
    top:15px;
    color:#f00;
    z-index: 999;
    cursor: pointer;
    font-size: 24px;
  }
}
.swipper-number{
  position: fixed;
  right:80px;
  bottom:30px;
  width: 60px;
  height: 60px;
  line-height: 60px;
  font-size: 18px;
  background-color: rgba(0,0,0,.5);
  border-radius:50%;
  text-align: center;
  color:#fff;
  z-index: 999;
}
.sn-current{
  position: relative;
  top:-5px;
}
.sn-count{
  position: relative;
  top:5px;
}
.add-animated{
  top:0;
  z-index: 999;
  opacity: 1;
}
//组件模块
.unit-items{
  .share-box{
    padding:0;
  }
  .banner-box{
    width:90%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding:30px;
    margin:30px auto;
    text-align: center;
    img{
      max-width: 100%;
    }
  }
  .unit-btn-box{
    height:50px;
    text-align: center;
    .fy-btn{
      padding:10px 40px;
      margin-right:20px;
    }
  }
  .unit-desc{
    width: 90%;
    margin:0 auto;
    font-size: 15px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  .layui-elem-quote {
    margin-bottom: 10px;
    padding: 15px;
    line-height: 22px;
    border-left: 5px solid #999;
    border-radius: 0 2px 2px 0;
    background-color: #f2f2f2;
  }
  .unit-rule{
    width:90%;
    margin:30px auto;
    .unit-rule-title{
      color:#333;
      font-size: 15px;
      font-weight: bold;
    }
    .unit-rule-content{
      margin-top:20px;
      blockquote{
        padding:10px;
        background-color: #f2f2f2;
        color:#595757;
      }
    }
  }
  .unit-page-box{
    font-size: 16px;
    color:#111;
    margin-top:50px;
    padding-bottom:100px;
  }
}
//组件右侧用户信息
.unit-user{
  .unit-user-info{
    margin-bottom:21px;
  }
  padding:15px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  .unit-user-avatar{
    width:60px;
    height:60px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    border:3px solid #e67c23;
    float: left;
  }
  .unit-user-name{
    font-size: 16px;
    font-weight: bold;
    color:#000;
    margin-left:75px;
    margin-top:5px;
  }
  .unit-user-dress{
    font-size: 14px;
    margin-left:75px;
    margin-top:5px;
    color:#555;
  }
  .unit-user-btn{
    margin-top:10px;
    font-size: 15px;
    text-align: center;
    .fy-btn{
      width:100%;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
    }
  }
}

@media screen and (max-width: 768px){
  .news-items{
    margin-right:0;
  }
  .news-recommend{
    width:100%;
    position: static;
    margin-top: 15px;
  }
  .unit-items .banner-box{
    padding: 15px;
  }
  .unit-items .unit-page-box{
    padding-bottom: 20px;
  }
  .news-items .btn-box{
    margin-bottom: 0;
  }
  .unit-items .unit-btn-box {
    height: auto;
    .fy-btn{
      display: block;
      width:90%;
      padding:10px 0;
      margin:0 auto;
      margin-top:15px;
    }
  }
  .unit-items .layui-elem-quote{
    margin-top:20px;
  }
}
