body{
  font-size: 14px;
  color:#333;
  background-color: #f1f1f1;
}
.list-aslide{
  width:18%;
  position: fixed;
  left:0;
  top:0;
  height:100%;
  background-color: #fff;
  text-align: center;
  *{
    display: block;
    margin:0 auto;
  }
  .list-logo{
    width:70%;
    max-width:150px;
    margin-top:60px;
  }
  .list-aslide-nav{
    margin-top:50px;
    a{
      width:100px;
      height:35px;
      line-height: 35px;
      margin-top:10px;
      -webkit-border-radius: 5px;
      -moz-border-radius: 5px;
      border-radius: 5px;
      font-size: 15px;
      color:#000;
      &:hover{
        color: #5181f1;
      }
      &.active{
        background-color: #5181f1;
        color:#fff;
      }
    }
  }
  .erweima{
    width:80%;
    max-width:150px;
    margin-top:40px;
    padding:10px 0;
  }
}
.list-container{
  width:82%;
  position: fixed;
  left:18%;
  top:0;
  height: 100%;
  overflow: auto;
}
.list-header{
  height:60px;
  background-color: #fafafa;
  .aslide-switch{
    font-size: 24px;
    color: #333;
    line-height: 60px;
    padding:0 15px;
    &:before{
      content: '\e665';
    }
    &.active{
      &:before {
        content: 'e62c';
      }
    }
  }
  .list-header-nav{
    margin:17.5px 0 0 30px;
    .lhn-item{
      font-size: 15px;
      padding: 5px 15px;
      background-color: #ddd;
      margin-right:2px;
    }
  }
}